.students{
   background-color: rgb(142, 178, 32);
}

.std{
    height: 30px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border: 1px solid black;
    
    
}

.info{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: red;
}

.stdbtndiv{
    height: 100%;
    
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
}

.stdbtn{
    height: 95%;
    width: 40%;
    border-radius: 10px;
    background-color: blue;

}

.create{
    height: 50vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inputdiv{
    height: 80%;
    width: 55%;
    background-color: red;
    border: 1px black solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}



.inp1{
    background-color: yellow;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.inp2{
    height: 15%;
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}


.input{
    height: 100%;
    width: 45%;
    border-radius: 20px;
    background-color: rgb(74, 13, 88);
    padding-left: 10px;
}

.createinp{
    height: 15%;
    width: 25%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
}

.createinp:hover{
    transform: scale(1.1);
    transition: 0.8s;
}
